.header{
    color: white;
    background-color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbrand{
    margin: 1rem 4rem;
    color: rgba(178, 121, 216, 0.959) !important;
}
.navlink{
    margin: 1rem 2rem;
    color:white !important
}
.navlink:hover{
    /* text-decoration: underline; */
    border-bottom: 3px solid rgba(178, 121, 216, 0.959);
    color: rgba(178, 121, 216, 0.959);
}
.navbar-toggler-icon {
    background-color: rgba(178, 121, 216, 0.959) !important;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
@media screen and (max-width: 992px) 
{
    .navbrand{
        margin: 1rem 1rem;
        color: rgba(178, 121, 216, 0.959) !important;
    }
}
