.row{
    padding: 2rem 5%;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background: white;
    color: black;
    padding: 0.75rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 2rem;
}

.btn:hover{
    background-color: rgba(178, 121, 216, 0.959);
}

@media screen and (max-width: 992px) {
    .box2 {
        display: none;
    }
    .row {
        align-items: center;
    }
    .box1 {
        margin-top: 7rem;
        margin-bottom: 7rem;
        width: 100%;
    }
}
